
:root[data-theme="light"] {
    --text: #0e0b1e;
    --background: #f2f0fa;
    --primary: #362970;
    --secondary: #cd87d4;
    --accent: #a53b8e;
  }
:root[data-theme="dark"] {
    --text: #e4e1f4;
    --background: #07050f;
    --primary: #9d90d7;
    --secondary: #712b77;
    --accent: #c45cad;
  }
  
:root {
/* Rose-Pine */
  --rp-base: #191724;
  --rp-surface: #1f1d2e;
  --rp-overlay: #26233a;
  --rp-muted: #6e6a86;
  --rp-subtle: #bbb8ce;
  --rp-text: #e0def4;
  --rp-love: #eb6f92;
  --rp-gold: #f6c177;
  --rp-rose: #ebbcba;
  --rp-pine: #31748f;
  --rp-foam: #9ccfd8;
  --rp-iris: #c4a7e7;
  --rp-highlight-low: #21202e;
  --rp-highlight-med: #403d52;
  --rp-highlight-high: #524f67;

  --rp-moon-base: #232136;
  --rp-moon-surface: #2a273f;
  --rp-moon-overlay: #393552;
  --rp-moon-muted: #6e6a86;
  --rp-moon-subtle: #908caa;
  --rp-moon-text: #e0def4;
  --rp-moon-love: #eb6f92;
  --rp-moon-gold: #f6c177;
  --rp-moon-rose: #ea9a97;
  --rp-moon-pine: #3e8fb0;
  --rp-moon-foam: #9ccfd8;
  --rp-moon-iris: #c4a7e7;
  --rp-moon-highlight-low: #2a283e;
  --rp-moon-highlight-med: #44415a;
  --rp-moon-highlight-high: #56526e;

  --rp-dawn-base: #faf4ed;
  --rp-dawn-surface: #fffaf3;
  --rp-dawn-overlay: #f2e9e1;
  --rp-dawn-muted: #9893a5;
  --rp-dawn-subtle: #797593;
  --rp-dawn-text: #575279;
  --rp-dawn-love: #b4637a;
  --rp-dawn-gold: #ea9d34;
  --rp-dawn-rose: #d7827e;
  --rp-dawn-pine: #286983;
  --rp-dawn-foam: #56949f;
  --rp-dawn-iris: #907aa9;
  --rp-dawn-highlight-low: #f4ede8;
  --rp-dawn-highlight-med: #dfdad9;
  --rp-dawn-highlight-high: #cecacd;

  /* Other Palettes - Experimental */

  /* 1-Wondrus-Hole */
--purple-illusion: #bcbaf5;
--wondrous-wisteria: #a5b1ff;
--twinkle-night: #65689b;
--midnight-velvet: #2b2742;
--black: #010001;

/* 2-Ravens-Pink */
--diva-mecha: #f09ced;
--avant-garde-pink: #ff7bf0;
--vicious-violet: #974995;
--purple-void: #3a1b43;
--ravens-coat: #000003;
--black-hole: #000002;

/* 3-Fuschia-Depths */
--fuchsia-fever: hsl(337.11,90.48%,67.06%);
--vivid-raspberry: hsl(337.53,100%,53.92%);
--plum-perfect: hsl(333.93,78.38%,36.27%);
--dark-sanctuary: hsl(321.97,74.74%,18.63%);
--mysterious-depths: hsl(270,100%,5.88%);
--obsidian-shard: hsl(263.48,100%,4.51%);

/* 4-Mussie-Green */

--moonscape: #bbadcc69;
--tussie-mussie: #e5c0d6;
--homeopathic-blue: #dae2de;
--seafoam-splashes: #a6f1cd;
--a-state-of-mint: #79f8c1;
--mint-o-licious: #a5ecca;

/* 5-Purple-Punk */
--voldemort: #311267;
--space-battle-blue: #51129f;
--purple-ink: #9634ac;
--kinky-pinky: #d458b9;
--pink-punk: #e38cc3;

--wc-1: #9b5fe0;

--bg-overlay: linear-gradient(135deg, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
--main-bg: #1d1b1f;
--list-style: content: "\009B";
}

@font-face {
	font-family: 'Hack';
	src: url('/fonts/hack-regular-subset.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* global styles */
/* Set core root defaults */
html {
  background-color: var(--main-bg);
  scroll-behavior: smooth;

  /* Fix jumping scrollbar when switching to long pages */
	margin-left: calc(100vw - 100%);
	margin-right: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

html.dark {
  background-color: #1a191b;
  color: #eae2ff;
}

.dark .nav-links a {
  color: #f8edf4e8;
}

body {
  position: relative;
  margin: 0;
  width: 100%;
  line-height: 1.5;
  min-height: 100svh;
  font-family: 'Rubik Variable', sans-serif;
  margin-left: calc(100vw - 100%);
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #ac87e9;
  transition: color .3s;
}

a:is(.dark *) {
  color: #eae2ff;
}

/* a:hover {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  text-decoration-color: #955cf1;
} */
.main-wrapper {
  display: grid;
  position: relative;
  z-index: 10;
  margin-inline: 2rem;
  max-width: 100%;
  grid-template-columns: 18rem 1fr 20rem;
  min-height: 100%;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 800px;
  gap: 1rem;
  
}
h1 {
  color: var(--rp-moon-text);
    font-size: 2.5rem;
    margin-block: 0;
    font-family: 'Anuphan Variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: .5rem;
  letter-spacing: -.01rem;
  font-family: 'Anuphan Variable', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--purple-ink);
  font-size: 1.7rem;
}
/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 15px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 2px;
  background-color: var(--rp-moon-highlight-med);
  
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: var(--rp-moon-highlight-low);
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  color: var(--rp-text);
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow:
    2px 2px 0 var(--space-battle-blue),
    -2px -2px var(--purple-ink);
    transition: all 500ms;
}
a.active {
  color: var(--rp-moon-text);
  text-shadow:
  6px 6px 0 var(--space-battle-blue),
  -4px -4px var(--purple-ink);
  transition: all 500ms;
}
.nav-links a:hover,
.nav-links a:focus {
  color: var(rp-moon-text);
  text-shadow:
  6px 6px 0 var(--space-battle-blue),
  -4px -4px var(--purple-ink);
  transition: all 500ms;
  
  transform-origin: bottom right;

&:active {
  outline-style: dashed;
  outline-offset: 3px;
  outline-width: 2px;
  outline-color: var(--purple-illusion);
  transition: all 300ms;
}

.nav-links a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
}
/* .nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
} */


.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}