---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await getCollection('blog');
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
const pageTitle = 'All Tags';
---

<BaseLayout pageTitle={pageTitle}>
  <div class='tags'>
    <ul class='tags-list'>
      {
        tags.map((tag) => (
          <li class='tag-name'>
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tags-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .tag-name {
    margin-bottom: 0;
    font-weight: 400;
    font-family: var(--font-mono);
    font-size: 1em;
  }
  .tags-list li {
    margin: 0 1em 0 0;
    font-weight: normal;
    font-size: 0.8em;
    font-family: var(--font-mono);
  }

  .tags-list li a {
    text-decoration: none;
  }

  .tags-list li a:hover {
    text-decoration: underline;
  }

  .tag-name:nth-of-type(7n + 1) a {
    color: var(--rp-moon-iris);
  }
  .tag-name:nth-of-type(7n + 2) a {
    color: var(--rp-text);
  }
  .tag-name:nth-of-type(7n + 3) a {
    color: var(--diva-mecha);
  }
  .tag-name:nth-of-type(7n + 4) a {
    color: var(--menu-accent);
  }
  .tag-name:nth-of-type(7n + 5) a {
    color: var(--purple-ink);
  }
  .tag-name:nth-of-type(7n + 6) a {
    color: var(--vicious);
  }
  .tag-name:nth-of-type(7n + 7) a {
    color: var(--purple-poodle);
  }
</style>
