---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href='/'>Home</a>
    <a href='/about/'>About</a>
    <a href='/blog/'>Blog</a>
    <h1>Hi! Hello!</h1>
    <p>
      Welcome to the personal website of Nelailen, where I do whatever I like...
    </p>
    <p>Here are some things that you can expect to find here:</p>
    <ul>
      <li>Changing designs and "features" that seem out of place.</li>
      <li>
        Throwbacks as I reminisce over the old web, where personal websites were
        common.
      </li>
      <li>Posts about a variety of things. I am a collector of hobbies.</li>
      <li>
        Occasional write-ups and walk-throughs of CTFs, TryHackMe, and others.
      </li>
      <li>Walk-throughs and tutorials of personal projects and activities.</li>
      <li>Kindness.</li>
    </ul>
  </body>
</html>
