---

interface Props {
	currentPath: string;
	currentName?: string | undefined;
	position: "left" | "main";
	routes: string[];
}


---

<div class='breadcrumb-wrapper'>
  <div class='breadcrumb-base'>
    <ul class="vert-list">
    <span aria-hidden='true' class='font-bold'>.HELLOOOO</span>
      
        <li class="breadcrumb-items">
          <a href="/">home</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<style>
  .breadcrumb-wrapper {
    display: none;
  }
  @media screen and (min-width: 640px) {
  .breadcrumb-wrapper {
    display: flex;
    margin-left: 1rem;
    padding-top: 1.5rem;
    padding-right: 0.5rem;
    row-gap: 3rem;
    column-gap: 1rem;
    justify-content: space-between;
    max-width: 4rem;
    width: 3rem;
    flex-direction: column;
    bottom: 0;
    right: 0;
    z-index: 10;
    min-height: 100svh;
    max-height: 100svh;
    align-items: center;
    
  }
}
  .breadcrumb-base {
    position: sticky;
    top: 4rem;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-style: italic;
    white-space: nowrap;
  }

  .vert-list {
    display: flex;
    position: sticky;
    top: 4rem;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  span {
    display: flex;
    margin-top: 0;
    gap: 0.5rem;
    position: sticky;
  }
  /* just a test for states, I don't want this in breadcrumbs, but elsewhere */
  .breadcrumb-items a {
  color: var(--rp-text);
}
.breadcrumb-items a:not(:last-child) {
  --font-weight: var(--font-weight-regular);
}

.breadcrumb-items a:not(:last-child):after {
    content: ' → '
  } {
}
  a {
    color: var(--grape);
    text-decoration: underline 1px;
    text-decoration-style: dashed;
    text-decoration-color: var(--grape);
    text-underline-offset: 0.15em;
    transition: all 0.4s;
  }

  a:hover {
    text-underline-offset: 0.3em;
  }

  a:focus {
    text-decoration: none;
    outline: 1px dashed;
    outline-offset: 0.2em;
  }

  a:active {
    text-decoration: none;
    outline: dashed;
    outline-width: 2px;
    outline-offset: 0.3em;
  }
  </style>