---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import Toggle from './Toggle.astro';
---

<header>
  <nav class='top-nav'>
    <Hamburger />
    <Navigation />
  </nav>
  <Toggle />
</header>
