---
import { NAVIGATION } from '../constants/navigation';
const pathname = new URL(Astro.request.url).pathname;

const isActive = (path: string) => {
  if (path === '/') return pathname === '/';
  return pathname.startsWith(path);
};
---

<nav class='nav-links'>
  {
    NAVIGATION.map(({ name, path }) => (
      <a href={path} class={isActive(path) ? 'active' : ''}>
        {name}
      </a>
    ))
  }
</nav>
