---
import { getURLFromEntry, readableDate } from '$utils';
import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<section class='post-preview'>
  <a href={getURLFromEntry(post)}>
    <time class='time'>
      <span>{readableDate(post.data.pubDate)}</span>
    </time>
    <div class='mb-2 text-sm text-creative-work dark:text-dark-subtle-text'>
      <h4 class='m-0 inline-block text-xl font-medium'>{post.data.title}</h4>

      {
        post.data.draft && (
          <span class='text-xs font-bold text-black dark:text-white'>
            Draft
          </span>
        )
      }
      <p class='subtitle'>
        {post.data.description ?? null}
      </p>
    </div>
  </a>
</section>
<style>
  .post-preview {
    margin-block: 1rem;
    padding: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    outline: dashed;
    outline-width: 1px;
    outline-offset: -1px;
    outline-color: var(--moonscape);
    transition: all 500ms;
  }
  .post-preview:hover,
  .post-preview:focus {
    background-color: hsla(266, 98%, 50%, 0.041);
    z-index: 100;
    font-weight: bolder;
    transition: all 500ms;
    box-shadow: var(--box-shadow);
  }

  h4 {
    display: flex;
    flex-direction: column;
    color: #d1a1d3;
    &:hover {
      color: #ad9fff;
    }
  }
  .post-preview a {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
    pointer-events: auto;
    text-decoration: none;
  }

  .time {
    font-family: monospace;
    font-size: 13.5px;
    font-weight: 120;
    color: #8eb4ff;
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }
  span {
    display: inline;
  }
</style>
