---
import Link from '../atoms/Link.astro';

interface Props {
  currentPath: string;
  href: string;
  name?: string | undefined;
  path: string;
}

const { currentPath, href, path, name = path } = Astro.props;
---

<p class='flex gap-1 md:gap-2'>
  <span aria-hidden='true'>/</span>
  {
    path === currentPath ? (
      <span class={'font-bold ${colors.text'}>{name}</span>
    ) : (
      <Link href={href} class={'font-bold underline'} title={name}>
        {name}
      </Link>
    )
  }
</p>
